<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entrar</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <br><br><br>
    <div class="row justify-content-center">
        <div class="card col-md-6">
            <div class="card-title"><h3 class="text-center">Entrar</h3></div>
            <div class="card-body">
                <form th:action="@{/logincheck}" method="post">
                    <div class="form-group">
                        <label for="username" class="col-form-label">Usuario: </label>
                        <input type="text" name="username" id="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Contrasena: </label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Entrar" class="btn btn-block btn-outline-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/popper.min.js}"></script>
<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>